body{
    background-image: url(rrr.jpg);
    background-color: rgb(24, 94, 5);
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color: yellow;
    font-size: 70px;
    margin-top:20px;
}
button{
    width: 180px;
    height: 30px;
    background-color: rgb(147, 147, 14);
    color: rgb(6, 100, 6);
    font-weight: bold;
    font-size: 20px;
    border: none;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 2px;
    
}
